<h2>These are all my  ingredients</h2>

<% @ingredients.each do |ingredient| %>
	<%= ingredient.name %>
	<%= link_to 'Show', ingredient %>
	<%#= link_to 'Edit', edit_ingredient_path(ingredient) %>
	<%= link_to 'Destroy', ingredient, method: :delete %>
	</br>
<% end %>

</br>


<%= link_to 'New Ingredient', ingredients_new_path %>

<%= link_to 'Menu Items', root_path %>